body {
	background-image: url("6 (4).png");
	background-repeat: no-repeat;
	background-size: cover;
}
.iconlo{
	width: 190px;
	height: 180px;
	margin-top: 132%;
	margin-left: -20px;
	margin-bottom: 31px;
}
.icontel{
	width: 190px;
	height: 180px;
	margin-left: 160px;
}
.iconpho{
	width: 190px;
	height: 180px;
	margin-left: 360px;
	margin-bottom: -180px;
}
.iconwa{
	width: 190px;
	height: 180px;
    margin-left: 213px;
	margin-bottom: -30px;
}
.iconin{
	width: 190px;
	height: 180px;
	margin-left: 600px;
margin-bottom: -10px;
}